{% extends 'base.html' %} 


{% block title %}Posts{% endblock title %} 


{% block content %} 
<div class="offset-md-1"><h1>Posts</h1></div>
{% for post in post_list %} 
<div class="container">
    <div class="card">
        <div class="card-body">
        <h3 class="card-title">{{ post.title }}</h5>
            <h3 class="card-subtitle">{{ post.title }}</h5>
                <h3 class="card-title">{{ post.title }}</h5>
                    <h3 class="card-title">{{ post.title }}</h5>


        </div>
    </div>
</div>
<br/>
{% endfor %} 
{% endblock content %} 